<!DOCTYPE HTML>
<html>
<head>
<title>Cartoforum Discovery Map</title>
<meta name="description" content= "Cartoforum is an online forum to link your conversation to location">
<meta name="keywords" content="argumentation map,GIS,mapchat,argoomap,cartotalk,cartoforum,mapping,online mapping,web GIS,MSA,spatial,forum">
<meta name="author" content="Justin Pierre">
<link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/ol3/4.4.2/ol.css" type = "text/css">
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/ol3/4.4.2/ol.js" type = "text/javascript"></script>
			<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
<link rel="stylesheet" href = "{{ url_for('static', filename='styles/index.css') }}" type = "text/css">
<script type = "text/javascript">
function init() {
container = document.getElementById('popup');
  content = document.getElementById('popup-content');
  closer = document.getElementById('popup-closer');
  closer.onclick = function() {
    container.style.display = 'none';
    closer.blur();
    return false;
  };

  var base = new ol.layer.Tile({
      source: new ol.source.XYZ({url: 'http://s.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'}),
      sphericalMercator: true,
      attributions: [new ol.Attribution({ html: ['&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'] })]
    });
  
var groupssrc = new ol.source.TileWMS(/** @type {olx.source.TileWMSOptions} */ ({
url: 'http://cartoforum.com:8080/geoserver/wms',
                params: {'LAYERS': 'Argoomap_postgis:groups', 'TRANSPARENT': true, 'TILED': false},
		serverType: 'geoserver'
	     }));

  var groups = new ol.layer.Tile({source: groupssrc, visible: true});

  var map = new ol.Map({
	layers: [base,groups],
	renderer: 'canvas',
	target: 'discoverymap',
	view: new ol.View({
		center: [0,1200000],
		zoom: 2
	})
  });
  var overlay = new ol.Overlay({
    element: container
  });
  map.addOverlay(overlay);

   map.on('singleclick', function (e) {
	var viewResolution = /** @type {number} */ (map.getView().getResolution());
	var url = groupssrc.getGetFeatureInfoUrl( e.coordinate, viewResolution, 'EPSG:3857', {'INFO_FORMAT': 'text/html'});
	/*change QUERY_LAYERS to visibleLayers in url*/
        url = "http://127.0.0.1" + url.substring(21);
        url+="&FEATURE_COUNT=15";
	url = "/_discovery_popup?url="+encodeURIComponent(url);
	
	/*create popup*/

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange=function() {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200) {
	    var xmlDoc = xmlhttp.responseText;
	    if (xmlDoc.search("class")!=-1 && xmlDoc.search("No QUERY_LAYERS has been requested, or no queriable layer in the request anyways")==-1 && xmlDoc) {
     	      overlay.setPosition(e.coordinate);
	      content.innerHTML = xmlDoc;	
	      container.style.display = 'block';
	      container.style.right = "-"+document.getElementById("popup").clientWidth/2+"px";
	      document.getElementById("popup-arrow").style.width=document.getElementById("popup").clientWidth+"px";
	     }
	   }
        }
        xmlhttp.open("GET",url);
        xmlhttp.send();
 });

}
</script>
</head>
<body onload="init();">

<header id = "loginbar">
<h1 id = "title">cartoforum</h1>
<form method = "POST" action = "group_select.php" style = "float: right;">
<input type = "submit" class = "btn bbtn" value = "Group Select">
</form>
</header>
<div id = "content">
<div id = "discoverymap">
<div id = "popup" class = "ol-popup">
	<a href="#" id="popup-closer" class="ol-popup-closer"></a>
	<div id = "popup-content" class="ol-popup-content"></div>
	<div id = "popup-arrow"><img src = "images/popup-arrow.png"></div>
   </div>
</div>
</div>
<footer>
</span>
<span style = "float: right; padding-top: 4px;">Created by <a href = "https://twitter.com/jpierre001">Justin Pierre</a></span>
</footer>

</body>
</html>
