<!DOCTYPE HTML>
<html>
    <head>
        <title>cartoforum</title>
        <meta name="description" content="Argoomap or Cartoforum is an online forum to link your conversation to location">
        <meta name="keywords" content="argumentation map,GIS,mapchat,argoomap,cartotalk,cartoforum,mapping,online mapping,web GIS,MSA,spatial,forum">
        <meta name="author" content="Justin Pierre">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/index.js') }}"></script></head>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-15289149-2', 'auto');
          ga('send', 'pageview');

            img1 = new Image();
            img1.src = "{{ url_for('static', filename='images/torontimg.jpg') }}";
        </script>
        <link rel="stylesheet" href = "{{ url_for('static', filename='styles/index.css') }}" type = "text/css">
    </head>
    <body>

        <div id = "content">
            <div id = "loginbar">
            <h1 id = "title">cartoforum</h1>
            {% block body %}
            {% if session['logged_in'] %}
            <p>already logged in</p>
            {% else %}
            <form id = "loginform" method = "POST" action = "/login">
                <input type = "username" name = "username" placeholder = "username">
                <input type = "password" name = "password" placeholder = "password">
                <input type = "submit" class = 'bbtn btn' value = "login">
            </form>
                <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" id = "twittersubmit" onclick = '$("#twittersignin").submit()'>
            <form id = "twittersignin" action = "/twitter-oauth" method = "POST">

            </form>
                <h1>Create Account</h1>
                <form id = "createAccount" method = "POST" action = "/create_account">
                    <input type = "email" name = "email" placeholder = "enter your email address">
                    <input type = "password" name = "password" placeholder = "select a password">
                    <input type = "submit" value = "continue" class="btn bbtn">
                </form>
                {% endif %}
                {% endblock %}
        </div>

            <div id = "description">
            </div>

        </div>
        <footer>
            </span>
            <span style = "float: right; padding-top: 4px;">Created by <a href = "https://twitter.com/jpierre001">Justin Pierre</a></span>
        </footer>

    </body>
</html>
