<!DOCTYPE HTML>
<html>
    <head>
        <title>cartoforum</title>
        <meta name="description" content="Argoomap or Cartoforum is an online forum to link your conversation to location">
        <meta name="keywords" content="argumentation map,GIS,mapchat,argoomap,cartotalk,cartoforum,mapping,online mapping,web GIS,MSA,spatial,forum">
        <meta name="author" content="Justin Pierre">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/index.js') }}"></script></head>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-15289149-2', 'auto');
          ga('send', 'pageview');

            img1 = new Image();
            img1.src = "{{ url_for('static', filename='images/torontimg.jpg') }}";
        </script>
        <link rel="stylesheet" href = "{{ url_for('static', filename='styles/index.css') }}" type = "text/css">
    </head>
    <body>

        <div id = "content">
            <div id = "loginbar">
            <h1 id = "title">cartoforum</h1>
            {% block body %}
            {% if session['logged_in'] %}
            <p>already logged in</p>
            {% else %}

            <br><br>
                <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" id = "twittersubmit" onclick = '$("#twittersignin").submit()'>
            <form id = "twittersignin" action = "/twitter-oauth" method = "POST">

            </form>
                <a href={{ url_for('oauth_authorize', provider='google') }}>
                <img src = "https://developers.google.com/accounts/images/sign-in-with-google.png" id = "googlesubmit">
                </a>
                <form id = "loginform" method = "POST" action = "/login">
                <input type = "username" name = "username" placeholder = "username">
                <input type = "password" name = "password" placeholder = "password">
                <br>
                <input type = "submit" class = 'bbtn btn' value = "login">
                 <a href = "#" onclick = "$('#recoverpassword').show('fast')" class = 'recoverpassword'>Recover Password</a>

            </form>
            <div id = "recoverpassword">
                    <form method = "POST" action = "/_recover_password">
                        <input type = "text" placeholder = "enter your email address" name = "email">
                        <input type = "submit" value = "send me an update link" class = "wbtn btn">
                    </form>
                </div>
                <br>
                <input type = "button" value = "Create Account" onClick = "$('#createAccount').show('fast')" class = "btn wbtn">
                <form id = "createAccount" method = "POST" action = "/create_account">
                    <input type = "button" value = "x" onclick = "$('#createAccount').hide('fast')" class = 'recoverpassword wbtn btn'>
                    <input type = "text" name = "username" placeholder = "username" onchange = "checkUsername(this)">
                    <img id = "passwordaccepted" src = "/static/images/minusc.png">
                    <input type = "email" name = "email" placeholder = "email address">
                    <p class = "small">Not required, but you won't be able to reset your password without it.</p>
                    <br>
                    <input type = "password" name = "password" placeholder = "password">
                    <input type = "submit" value = "continue" class="btn bbtn">
                </form>
                {% endif %}
                {% endblock %}


        </div>

            <div id = "description">
            {% if login == 'failed' %}
                <span>login failed</span>
            {% endif %}
            </div>

        </div>
        <footer>
            </span>
            <span style = "float: right; padding-top: 4px;">Created by <a href = "https://twitter.com/jpierre001">Justin Pierre</a></span>
        </footer>

    </body>
</html>
