* {
margin: 0px;
padding: 0px;
font-family: Arial;
font-size: 20px;
}

body {
color: #a9a9a9;
}

#loginbar {
background-color: #ffffff;
color: #11192d;
position: absolute;
top: 100px;
right: 25px;
width: 20%;
float: right;
padding: 25px;;
-webkit-border-radius: 20;
-moz-border-radius: 20;
}

#twittersubmit {
padding-top: 20px;
padding-bottom: 20px;
}

#twittersignin {

}

#loginform {
float: right;
padding-top: 25px;
font-size: 1px;
}

#logout-form {
float: right;
}

#topbuttons {
position: absolute;
top: 0px;
right: 0px;
font-size: 15px;
font-family: Arial;
}

#topbuttons input {
 font-size: 10px;
}

#content {
position: fixed;
width: 100%;
bottom: 35px;
overflow: auto;
background-image: url("/static/images/torontimg.jpg");
top: 0px;
background-size: cover;

}

#status {
  display: none;
  background-color: white;
  margin: auto;

}

h1#title {
font-size: 40px;
color: #8fcb7d;
font-weight: 200;
float: left;
letter-spacing: 3px;
padding-top: 25px;
}

#description {
  left: 50px;
  top: 50px;
position: absolute;
overflow: auto;
float: left;
z-index: 500;
background-color: white;
border: 5px solid #c1c1c1;
border-radius: 10px;
opacity: 0.9;
padding: 10px;
}

.decoration {
position: fixed;
right: 0px;
bottom: 0px;
margin-bottom: 0px;
float: right;
clear: right;
opacity: 0.45;
}

#createAccount {
}

#forgotPassword {
display: none;
position: fixed;
top: 145px;
right: 100px;
padding: 5px 10px 25px 10px;
border-radius: 10px;
-webkit-border-radius: 20;
-moz-border-radius: 20;
border: 2px solid #b6b6b6;
box-shadow: 5px 5px 4px #888888;
z-index: 1200;
background-color: #f3f3f3;
}
.closeWindow {
 text-decoration: none;
 float: right;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.bbtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
 }

.bbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.wbtn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #fbfbfe);
  background-image: -moz-linear-gradient(top, #ffffff, #fbfbfe);
  background-image: -ms-linear-gradient(top, #ffffff, #fbfbfe);
  background-image: -o-linear-gradient(top, #ffffff, #ffbfe);
  background-image: linear-gradient(to bottom, #ffffff, #fbfbfe);
  color: #3498db;
}

.wbtn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: -moz-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: -ms-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: -o-linear-gradient(top, #ffffff, #fbfbfb);
  background-image: linear-gradient(to bottom, #ffffff, #fbfbfb);
}

#map {
height: 200px; 
width: 300px;
}

#discoverymap {
height: calc(100% - 103px);
width: 100%;
}

#newGroup {
display: none;
}

.invite {
display: inline;
}

.inlineform {
display: inline;
}

#addgeojson {
position: absolute;
left: 300px;
right: 300px;
height: 400px;
margin: 0 auto;
background-color: #ffffff;
padding-top: 190px;
z-index: 5000;
border: 2px solid #f8f8f8;
border-radius: 5px;
padding: 25px;
display: none;
}

#closegeojsonwindow {
float:right;
}

#loading-box {
position: absolute;
left: 300px;
right: 300px;
height: 400px;
margin: 0 auto;
border-radius: 25px;
opacity: 0.9;
font-weight: bold;
font-size: 20px;
background-color: #ffffff;
text-align: center;
padding-top: 190px;
z-index: 5000;
display: none;
}

.admintable {
display: inline-table;
padding-left: 50px;

}

td {
font-size: 14px;
}
td span {
font-size: 14px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 33px;
  background-color: #434b45;
  color: #ffffff;
  border-top: 2px solid #585453;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

#settings {
height: 25px;
}

#settings-options {
position: absolute;
left: 40px;
top: 0px;
display: none;
height: 20px;
background-color: #ffffff;
border: 2px solid #909090;
border-radius: 4px;
z-index: 1000;
}

#settings-options a {
color: #a9a9a9;
font-size: 10px;
padding: 3px;
}


.ol-popup {
display: none;
position: absolute;
color: #0000a0;
right: -25%;
bottom: -110%;
width: 350px;
}

.ol-popup-content {
background-color: #fcfcfc;
border-radius: 25px;
border: 4px solid #3498db;
padding: 20px;
font-size: 12px;
}

#popup-arrow {
text-align: center;
}

.ol-popup-closer {
text-decoration: none;
position: absolute;
top: 2px;
right: 12px;
}
.ol-popup-closer:after {
content: "x";
}

.exampleimg {
width: 200px;
margin-top: 10px;
border: 5px solid #3498db;
border-radius: 10px;
}

.torontoimg {
width: 100%;}

#examples {

margin: 0 auto;
width: 428px;
}

#recoverpassword {
display:none;
}

.recoverpassword {
float: right;
font-size: 8px;
}